body {
	overflow-x: hidden;
}
#horizontalTab {
	display: block;
	width: 100%;
	margin: 0px;
}

.btn-radius {
	border-radius: 0 !important;
}

.is-new{
	background-color: #5cb85c;
	text-transform: capitalize;
}

.is-sale {
	background-color: #fda30e;
}

.is-hot {
	background-color: #ff5656;
	text-transform: capitalize;
}

.btn-callaction {
	border-radius: 2px;
	background-color: #FDA30E;
	color: #fff;
}

.btn-callaction:hover {
	color: #fff;
}

.carousel-indicators {
	margin-bottom: 0px;
}

.collection-group {
	padding: 0;
}

.collection-data {
	margin-top: 15px;
}

.m-r-15 {
	margin-right: 15px;
}